#client-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:100px;
    font-family:Arial, Helvetica, sans-serif;
    color:#E1E1E1;
}

.client-create, .client-list{
    background-color: #121212;
    padding:100px;
    border-radius: 20px;
    width:1200px;
    margin-bottom:50px;
}

.client-create h2, .client-list h2{
    font-size: 35px;
}

.input-section{
    display:flex;
    flex-direction: column;
    margin:20px 0px;
}

input,textarea{
    width:100%;
    padding:5px;
    margin:10px 0px;
    font-size: 16px;
}

.custom-button{
    border:none;
    background-color:#BB86FC;
    padding:15px;
    font-size:16px;
    border-radius:5px;
    opacity:1;
    text-decoration: none;
    transform: translateY(0px);
    transition: 0.5s;
}

.custom-button:hover{
    opacity:0.7;
    transform: translateY(-5px);
    transition: 0.5s;
    cursor: pointer;
}

.header-row{
    background-color:#954cee;
}
.client-row{
    background-color:#575757;
}
.flex-grid {
    padding:20px 20px;
    display: flex;
    font-size:16px;
}
.col {
    margin-right:10px;
    flex: 1;
    padding:10px;
}
.client-actions{
    justify-self: flex-end;
}
.material-icons:hover{
    cursor: pointer;
}